app='bs://c700ce60cf13ae8ed97705a55b8e022f13c5827c'
remote_url='http://hub.browserstack.com/wd/hub'
userName='Harry_Poter_QWER'
accessKey='LJGkhdkllkjQou'
projectName='First Python Test project'
buildName='browserstack-build-1'
sessionName='BStack first_test'